{% assign current_product = product.selected_or_first_available_variant %}

<div class="accordion accordion-flush product-details__section" id="accordionFlushExample">
  <div class="accordion-item pb-3">
    <div class="accordion-header">
      <button
        class="accordion-button collapsed"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#flush-collapseOne"
        aria-expanded="true"
        aria-controls="flush-collapseOne">
        <h5>
          Description</h5>
      </button>
    </div>
    <div id="flush-collapseOne" class="accordion-collapse collapse show">
      <div class="accordion-body">{{ product.description }}</div>

    </div>
  </div>

  <div class="accordion-item pt-2">
    <div class="accordion-header">
      <button
        class="accordion-button collapsed"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#flush-collapseTwo"
        aria-expanded="true"
        aria-controls="flush-collapseTwo">
        <h5>
          Product details</h5>
      </button>
    </div>
    <div id="flush-collapseTwo" class="accordion-collapse collapse show">
      <div class="accordion-body">
        <div class="flex justify-content-between">
          <h6>Material:
          </h6>
          <p>{{ product.metafields.custom.material }}</p>
        </div>

        <div class="flex justify-content-between">
          <h6>Color:
          </h6>
          <p>
            {% for option in product.metafields.custom.color.value %}
              {% if forloop.last %}
                {{ option }}
              {% else %}
                {{ option }},
              {% endif %}
            {% endfor %}
          </p>
        </div>

        {% if product.metafields.custom.surface_treatment != blank %}
          <div class="flex justify-content-between">
            <h6>Surface Treatment:
            </h6>
            <p>
              {% for surface in product.metafields.custom.surface_treatment.value %}
                {% if forloop.last %}
                  {{ surface }}
                {% else %}
                  {{ surface }},
                {% endif %}
              {% endfor %}
            </p>
          </div>
        {% endif %}


        {% if product.tags contains 'Watches' %}

          <div class="flex justify-content-between">
            <h6>Water Resistance:
            </h6>

            <p>{{ product.metafields.custom.water_resistance }}</p>

          </div>
        {% endif %}

        {% if product.metafields.custom.stone_type != blank %}

          <div class="flex justify-content-between">
            <h6>Stone Type:
            </h6>
            <p>{{ product.metafields.custom.stone_type }}</p>
          </div>
        {% endif %}


        {% unless product.tags contains 'Rings' %}

          <div class="flex justify-content-between">
            <h6>Measurements:
            </h6>
            <p>{{ product.metafields.custom.size }}</p>
          </div>
      {% endunless %}

        {% if product.tags contains 'Watches' %}

          <div class="flex justify-content-between">
            <h6>Type:
            </h6>

            <p>{{ product.metafields.custom.type }}</p>

          </div>
        {% endif %}

        {% if product.tags contains 'Watches' %}

          <div class="flex justify-content-between">
            <h6>Glass:
            </h6>

            <p>{{ product.metafields.custom.glass }}</p>

          </div>
        {% endif %}



      </div>
    </div>
  </div>

  <div class="accordion-item pt-2">
    <div class="accordion-header">
      <button
        class="accordion-button collapsed"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#flush-collapseThree"
        aria-expanded="true"
        aria-controls="flush-collapseThree">
        <h5>Delivery & Returns</h5>
      </button>
    </div>
    <div id="flush-collapseThree" class="accordion-collapse collapse show">
      <div class="accordion-body">
        {% if product.available %}
          <p>This item is possible to be delivered to you in 1-2 work days since it is currently in stock.
            For further details about returns read information on <a class="text-decoration-underline" href="/pages/return-of-goods">this page.</a> </p>
        {% else %}
          <p>Item is currently not in stock, therefore delivery can take longer.
            For further details about returns read information on <a class="text-decoration-underline" href="/pages/return-of-goods">this page.</a>
          </p>
        {% endif %}

      </div>
    </div>
  </div>
</div>