<!-- /templates/customers/account.liquid -->
<div class="position-relative article-template__background">
  <div class="pt-4">
    {% include 'breadcrumbs' %}
  </div>
</div>

<section class="container account my-5 flex flex-column">
  <div class="row  flex-column-reverse flex-lg-row gap-5 gap-lg-0">
    <div class="col-12 col-lg-2 account-details flex flex-column justify-content-between">
      <div>
        <h4 class="mb-3">My Account</h4>

        <div class="flex flex-column gap-2">

          <div id="btn-account" data-target="accountcontent-1">
            <svg
              width="28"
              height="18"
              viewBox="0 0 28 18"
              fill="none"
              xmlns="http://www.w3.org/2000/svg">
              <path d="M25.7378 7.72578H21.6944C23.0703 7.22645 24.058 5.91019 24.058 4.36419C24.058 2.39076 22.4527 0.785156 20.4795 0.785156C18.562 0.785156 16.9969 2.30144 16.9087 4.19744H4.84701V4.5307H16.9087C16.994 6.3711 18.4721 7.84898 20.3127 7.93424V15.0691L10.3921 15.0693C10.3919 15.0653 10.3906 15.0624 10.3901 15.0584C10.3799 14.9448 10.3589 14.8343 10.3301 14.7271C10.3265 14.7131 10.3232 14.6988 10.3192 14.6847C10.2888 14.5807 10.2497 14.4811 10.2035 14.3847C10.1966 14.3698 10.1895 14.355 10.1821 14.3403C10.1341 14.2466 10.0792 14.1573 10.0174 14.0729C10.0073 14.0588 9.99706 14.0457 9.98679 14.0318C9.92318 13.9492 9.85354 13.8722 9.77787 13.8006C9.76581 13.789 9.75309 13.7782 9.74081 13.7666C9.66291 13.6965 9.57988 13.6323 9.49104 13.5749C9.47831 13.5666 9.46514 13.5593 9.45197 13.5512C9.36068 13.495 9.2647 13.4452 9.16425 13.4041C9.15286 13.3995 9.14081 13.3961 9.12965 13.3914C9.02541 13.351 8.91693 13.318 8.80487 13.2961C8.79751 13.2945 8.78947 13.2939 8.78188 13.2925C8.66425 13.2709 8.54349 13.2579 8.41983 13.2579C8.29617 13.2579 8.17541 13.2709 8.05778 13.2925C8.05019 13.2939 8.04238 13.2945 8.03479 13.2961C7.92274 13.3182 7.81447 13.351 7.71001 13.3914C7.6984 13.3961 7.68657 13.3995 7.67541 13.4041C7.57474 13.4452 7.47898 13.4952 7.38746 13.5512C7.37452 13.5593 7.36157 13.5666 7.34885 13.5747C7.26023 13.6323 7.1772 13.6968 7.09885 13.7671C7.08657 13.778 7.07452 13.7887 7.06246 13.8003C6.98657 13.872 6.91648 13.9497 6.85286 14.0323C6.8426 14.0457 6.83277 14.0588 6.82295 14.0722C6.7609 14.1573 6.70554 14.2463 6.65733 14.3405C6.65041 14.3548 6.64371 14.3691 6.63657 14.3838C6.59014 14.4803 6.55086 14.5805 6.5205 14.6847C6.51648 14.6983 6.51358 14.7124 6.50979 14.7265C6.48122 14.8338 6.46001 14.9441 6.44974 15.0582C6.44952 15.0622 6.44818 15.0651 6.44773 15.0691H4.84619V15.4023H6.44956C6.53461 16.4153 7.38528 17.2144 8.41985 17.2144C9.45442 17.2144 10.3049 16.4157 10.39 15.4023H21.2523C21.3373 16.4153 22.188 17.2144 23.2224 17.2144C24.2568 17.2144 25.1074 16.4157 25.1925 15.4023H27.4161L27.4164 11.5637L25.7378 7.72578ZM8.42061 16.8806C7.51323 16.8806 6.77529 16.1427 6.77529 15.2353C6.77529 14.328 7.51323 13.59 8.42061 13.59C9.32798 13.59 10.0659 14.328 10.0659 15.2353C10.0659 16.1427 9.32798 16.8806 8.42061 16.8806ZM20.4795 7.60921C18.6898 7.60921 17.2337 6.15321 17.2337 4.3639C17.2337 2.57419 18.6897 1.11813 20.4795 1.11813C22.2687 1.11813 23.7248 2.57413 23.7248 4.3639C23.725 6.15316 22.269 7.60921 20.4795 7.60921ZM23.2232 16.8806C22.3159 16.8806 21.5779 16.1427 21.5779 15.2353C21.5779 14.328 22.3159 13.59 23.2232 13.59C24.1306 13.59 24.8686 14.328 24.8686 15.2353C24.8686 16.1427 24.1306 16.8806 23.2232 16.8806ZM27.0835 15.0688H25.1949C25.1947 15.0646 25.1929 15.0608 25.1927 15.0565C25.1826 14.9438 25.1616 14.8344 25.1333 14.7282C25.129 14.7132 25.1259 14.6983 25.1217 14.6831C25.0918 14.5798 25.0527 14.4809 25.0067 14.3851C24.9998 14.3695 24.9924 14.3539 24.9846 14.3385C24.9366 14.2454 24.8819 14.1568 24.8206 14.0728C24.8103 14.0585 24.7996 14.0445 24.7889 14.0304C24.7255 13.9481 24.6563 13.871 24.5808 13.8001C24.5686 13.7885 24.5556 13.7771 24.5429 13.7655C24.4652 13.6954 24.3826 13.6315 24.2944 13.5744C24.2811 13.5661 24.2679 13.5581 24.2545 13.5501C24.1634 13.494 24.0679 13.4445 23.9679 13.4034C23.9563 13.3987 23.9444 13.3952 23.9326 13.3907C23.8284 13.3503 23.7206 13.3173 23.6085 13.2954C23.6009 13.2938 23.5929 13.2931 23.5851 13.2918C23.4677 13.2702 23.3471 13.2572 23.2235 13.2572C23.0998 13.2572 22.979 13.2702 22.8619 13.2918C22.8543 13.2931 22.8462 13.2938 22.8384 13.2954C22.7264 13.3175 22.6188 13.3503 22.5141 13.3907C22.5025 13.3954 22.4907 13.3987 22.479 13.4034C22.3788 13.4445 22.2833 13.494 22.1924 13.5501C22.179 13.5581 22.1659 13.5661 22.1525 13.5744C22.0645 13.6313 21.9817 13.6954 21.904 13.7655C21.8913 13.7769 21.8784 13.7882 21.8661 13.8001C21.7909 13.8715 21.7215 13.9481 21.6581 14.0304C21.6473 14.0445 21.6371 14.0583 21.6264 14.0728C21.5648 14.1568 21.5096 14.2456 21.4623 14.3389C21.4547 14.3539 21.4476 14.3695 21.4402 14.3849C21.3942 14.4806 21.3552 14.58 21.3253 14.6833C21.321 14.6983 21.3179 14.7132 21.3136 14.7284C21.2853 14.8347 21.2645 14.944 21.2543 15.0568C21.254 15.061 21.2523 15.0648 21.252 15.069H20.6467L20.6469 8.05876H25.5212L27.0842 11.5985V15.0686L27.0835 15.0688Z" fill="#372C28" />
              <path d="M0.583496 6.23828H11.1304V6.57154H0.583496V6.23828Z" fill="#372C28" />
              <path d="M0.583496 9.00391H13.7486V9.33716H0.583496V9.00391Z" fill="#372C28" />
              <path d="M0.583496 11.7734H11.1304V12.1067H0.583496V11.7734Z" fill="#372C28" />
              <path d="M20.6458 1.90234H20.3125V4.53246H21.8047V4.1992H20.6458V1.90234Z" fill="#372C28" />
            </svg>
            <span class="span-account btn-active">Your orders</span>
          </div>


          <div id="btn-account" data-target="accountcontent-2">
            <svg
              width="22"
              height="16"
              viewBox="0 0 22 16"
              fill="none"
              xmlns="http://www.w3.org/2000/svg">
              <path
                d="M5.2 12.5C6.09277 12.5 6.96179 12.6042 7.80707 12.8125C8.65236 13.0208 9.48333 13.3333 10.3 13.75V3.075C9.55 2.575 8.73651 2.1875 7.85953 1.9125C6.98256 1.6375 6.09605 1.5 5.2 1.5C4.56667 1.5 3.94583 1.57917 3.3375 1.7375C2.72917 1.89583 2.11667 2.09167 1.5 2.325V13.175C2.01667 12.9417 2.60417 12.7708 3.2625 12.6625C3.92083 12.5542 4.56667 12.5 5.2 12.5ZM11.8 13.75C12.6333 13.3333 13.45 13.0208 14.25 12.8125C15.05 12.6042 15.9 12.5 16.8 12.5C17.4333 12.5 18.0875 12.55 18.7625 12.65C19.4375 12.75 20.0167 12.8833 20.5 13.05V2.325C19.9333 2.04167 19.3348 1.83333 18.7044 1.7C18.0741 1.56667 17.4393 1.5 16.8 1.5C15.9 1.5 15.0292 1.6375 14.1875 1.9125C13.3458 2.1875 12.55 2.575 11.8 3.075V13.75ZM11.05 16C10.2 15.3667 9.275 14.8792 8.275 14.5375C7.275 14.1958 6.25 14.025 5.2 14.025C4.59105 14.025 3.99298 14.1 3.4058 14.25C2.8186 14.4 2.23333 14.5833 1.65 14.8C1.265 14.9833 0.89375 14.9583 0.53625 14.725C0.17875 14.4917 0 14.1583 0 13.725V2.15C0 1.9 0.0583333 1.67083 0.175 1.4625C0.291667 1.25417 0.466667 1.09167 0.7 0.975C1.4 0.641667 2.12829 0.395833 2.88488 0.2375C3.64144 0.0791667 4.41315 0 5.2 0C6.25 0 7.27083 0.141667 8.2625 0.425C9.25417 0.708333 10.1833 1.14167 11.05 1.725C11.9 1.14167 12.8125 0.708333 13.7875 0.425C14.7625 0.141667 15.7667 0 16.8 0C17.5811 0 18.3473 0.0791667 19.0984 0.2375C19.8495 0.395833 20.575 0.641667 21.275 0.975C21.5083 1.09167 21.6875 1.25417 21.8125 1.4625C21.9375 1.67083 22 1.9 22 2.15V13.725C22 14.1899 21.8125 14.5436 21.4375 14.7862C21.0625 15.0287 20.6917 15.0333 20.325 14.8C19.7583 14.5667 19.1814 14.3792 18.5942 14.2375C18.007 14.0958 17.409 14.025 16.8 14.025C15.75 14.025 14.7417 14.2 13.775 14.55C12.8083 14.9 11.9 15.3833 11.05 16Z"
                fill="black"
                fill-opacity="0.5" />
            </svg>
            <span class="span-account">Addresses</span>
          </div>


           <a
          class="nav-link"
          href="#swym-wishlist"
          class="swym-wishlist">
            <svg
              width="20"
              height="18"
              viewBox="0 0 20 18"
              fill="none"
              xmlns="http://www.w3.org/2000/svg">
              <mask id="path-1-inside-1_413_227" fill="white">
                <path d="M19.72 3.30852C19.0407 1.26755 17.1535 0 14.7946 0C13.2666 0 11.6246 0.520666 10.0333 1.5081C8.44163 0.520963 6.79578 0 5.26124 0C2.87571 0 0.967454 1.28117 0.280669 3.34388C-0.818621 6.64632 1.10197 12.198 9.78922 17.8765L9.97818 18L10.1671 17.8765C18.8884 12.1757 20.82 6.61319 19.72 3.30852ZM0.871651 3.66921L2.24443 5.65669L0.738433 6.18243C0.592746 5.24542 0.653272 4.40045 0.871651 3.66921ZM11.8622 10.5724L9.99521 11.8357L8.202 10.639L8.10713 10.528L8.10852 10.5247L8.10251 10.5227L5.06493 6.97433L4.32094 5.01843L6.67087 4.16563L9.95857 4.92179L13.3921 4.16563L15.7114 5.05019L14.9324 6.86797L11.8622 10.5724ZM3.73155 5.31895L4.1027 6.2948L3.23503 5.83631L3.73155 5.31895ZM16.3153 5.30678L16.8305 5.81761L15.8814 6.31917L16.3153 5.30678ZM15.9085 4.45308L14.2633 3.82546L15.8613 3.15262L15.9085 4.45308ZM10.3401 4.1976L10.3488 3.39377L12.0534 3.82054L10.3401 4.1976ZM9.6776 4.21543L7.96892 3.82256L9.68635 3.39275L9.6776 4.21543ZM4.123 4.42236L4.1692 3.15277L5.76714 3.82546L4.123 4.42236ZM4.44302 7.18933L4.47767 7.28077L4.45888 9.32983L1.80447 8.4702L2.84971 6.34765L4.44302 7.18933ZM5.13312 8.04781L6.88075 10.0893L5.12019 9.46446L5.13312 8.04781ZM9.44268 12.2313L8.67791 12.7417L8.43135 11.5565L9.44268 12.2313ZM10.0151 12.6132L11.1846 13.3938L10.0151 16.5686L8.84578 13.3937L10.0151 12.6132ZM10.5664 12.217L11.6086 11.5117L11.3527 12.7415L10.5664 12.217ZM14.8985 7.92216L14.9122 9.46402L13.0828 10.1132L14.8985 7.92216ZM15.5546 7.20688L17.1805 6.34784L18.2258 8.47039L15.5729 9.32942L15.5546 7.20688ZM16.5788 4.66324L16.5224 3.11122L18.6209 3.30395L17.2335 5.31246L16.5788 4.66324ZM13.3908 3.51046L10.6963 2.83617L13.4045 0.884352L15.5023 2.62156L13.3908 3.51046ZM10.3603 2.29332L10.3629 2.0519C10.7969 1.78033 11.234 1.545 11.6701 1.34934L10.3603 2.29332ZM9.69776 2.31303L8.30786 1.31154C8.77264 1.51427 9.23849 1.76091 9.70052 2.04971L9.69776 2.31303ZM6.62599 0.884324L9.33414 2.83615L6.63998 3.51043L4.52842 2.62154L6.62599 0.884324ZM3.45164 4.6631L2.79683 5.31231L1.40942 3.3038L3.5079 3.11107L3.45164 4.6631ZM2.10933 6.36859L1.27415 8.06466C1.09812 7.63051 0.962908 7.20937 0.864326 6.80319L2.10933 6.36859ZM3.96633 9.8294L2.72752 10.656C2.35329 10.1308 2.03344 9.61679 1.76732 9.11757L3.96633 9.8294ZM4.4502 10.2704L4.42787 12.7052C3.93288 12.1835 3.49491 11.6708 3.10649 11.1673L4.4502 10.2704ZM5.1138 10.1285L7.64607 11.027L8.04774 12.9575L5.08841 12.9158L5.1138 10.1285ZM9.42336 16.8647C8.56633 16.2788 7.78166 15.6961 7.06723 15.1192L8.30759 13.8353L9.42336 16.8647ZM11.7229 13.8353L12.9273 15.0819C12.2293 15.6501 11.4664 16.2226 10.6318 16.7976L11.7229 13.8353ZM12.3841 11.0272L14.918 10.128L14.9423 12.9157L11.9825 12.9575L12.3841 11.0272ZM15.5816 10.2715L16.8572 11.1228C16.4863 11.6076 16.0694 12.1013 15.6015 12.6027L15.5816 10.2715ZM16.0642 9.82935L18.1431 9.15622C17.887 9.62847 17.5851 10.1137 17.2341 10.61L16.0642 9.82935ZM17.9215 6.36855L19.0982 6.77951C19.0015 7.16092 18.8717 7.55667 18.7072 7.9649L17.9215 6.36855ZM17.7858 5.65671L19.1449 3.68879C19.3436 4.3945 19.3878 5.22761 19.2299 6.16072L17.7858 5.65671ZM18.7204 2.6866L16.668 2.49821L17.2626 1.23908C17.8693 1.58803 18.3645 2.07808 18.7204 2.6866ZM16.6707 0.957659L16.0591 2.25218L14.1356 0.65943C14.3577 0.636389 14.5781 0.623057 14.7949 0.623057C15.4787 0.623202 16.109 0.740144 16.6707 0.957659ZM5.89854 0.656674L3.97164 2.25217L3.36209 0.96158C3.93083 0.741312 4.56932 0.623208 5.2619 0.623208C5.4715 0.623208 5.68403 0.635372 5.89854 0.656674ZM2.76965 1.24211L3.36319 2.49835L1.29984 2.68776C1.66021 2.08013 2.1595 1.59094 2.76965 1.24211ZM5.26561 13.5415L7.66344 13.5751L6.5677 14.7093C6.10122 14.3171 5.66999 13.9277 5.26561 13.5415ZM13.425 14.6699L12.3673 13.5751L14.6729 13.5426C14.2847 13.9157 13.8708 14.2917 13.425 14.6699Z" />
              </mask>
              <path
                d="M19.72 3.30852C19.0407 1.26755 17.1535 0 14.7946 0C13.2666 0 11.6246 0.520666 10.0333 1.5081C8.44163 0.520963 6.79578 0 5.26124 0C2.87571 0 0.967454 1.28117 0.280669 3.34388C-0.818621 6.64632 1.10197 12.198 9.78922 17.8765L9.97818 18L10.1671 17.8765C18.8884 12.1757 20.82 6.61319 19.72 3.30852ZM0.871651 3.66921L2.24443 5.65669L0.738433 6.18243C0.592746 5.24542 0.653272 4.40045 0.871651 3.66921ZM11.8622 10.5724L9.99521 11.8357L8.202 10.639L8.10713 10.528L8.10852 10.5247L8.10251 10.5227L5.06493 6.97433L4.32094 5.01843L6.67087 4.16563L9.95857 4.92179L13.3921 4.16563L15.7114 5.05019L14.9324 6.86797L11.8622 10.5724ZM3.73155 5.31895L4.1027 6.2948L3.23503 5.83631L3.73155 5.31895ZM16.3153 5.30678L16.8305 5.81761L15.8814 6.31917L16.3153 5.30678ZM15.9085 4.45308L14.2633 3.82546L15.8613 3.15262L15.9085 4.45308ZM10.3401 4.1976L10.3488 3.39377L12.0534 3.82054L10.3401 4.1976ZM9.6776 4.21543L7.96892 3.82256L9.68635 3.39275L9.6776 4.21543ZM4.123 4.42236L4.1692 3.15277L5.76714 3.82546L4.123 4.42236ZM4.44302 7.18933L4.47767 7.28077L4.45888 9.32983L1.80447 8.4702L2.84971 6.34765L4.44302 7.18933ZM5.13312 8.04781L6.88075 10.0893L5.12019 9.46446L5.13312 8.04781ZM9.44268 12.2313L8.67791 12.7417L8.43135 11.5565L9.44268 12.2313ZM10.0151 12.6132L11.1846 13.3938L10.0151 16.5686L8.84578 13.3937L10.0151 12.6132ZM10.5664 12.217L11.6086 11.5117L11.3527 12.7415L10.5664 12.217ZM14.8985 7.92216L14.9122 9.46402L13.0828 10.1132L14.8985 7.92216ZM15.5546 7.20688L17.1805 6.34784L18.2258 8.47039L15.5729 9.32942L15.5546 7.20688ZM16.5788 4.66324L16.5224 3.11122L18.6209 3.30395L17.2335 5.31246L16.5788 4.66324ZM13.3908 3.51046L10.6963 2.83617L13.4045 0.884352L15.5023 2.62156L13.3908 3.51046ZM10.3603 2.29332L10.3629 2.0519C10.7969 1.78033 11.234 1.545 11.6701 1.34934L10.3603 2.29332ZM9.69776 2.31303L8.30786 1.31154C8.77264 1.51427 9.23849 1.76091 9.70052 2.04971L9.69776 2.31303ZM6.62599 0.884324L9.33414 2.83615L6.63998 3.51043L4.52842 2.62154L6.62599 0.884324ZM3.45164 4.6631L2.79683 5.31231L1.40942 3.3038L3.5079 3.11107L3.45164 4.6631ZM2.10933 6.36859L1.27415 8.06466C1.09812 7.63051 0.962908 7.20937 0.864326 6.80319L2.10933 6.36859ZM3.96633 9.8294L2.72752 10.656C2.35329 10.1308 2.03344 9.61679 1.76732 9.11757L3.96633 9.8294ZM4.4502 10.2704L4.42787 12.7052C3.93288 12.1835 3.49491 11.6708 3.10649 11.1673L4.4502 10.2704ZM5.1138 10.1285L7.64607 11.027L8.04774 12.9575L5.08841 12.9158L5.1138 10.1285ZM9.42336 16.8647C8.56633 16.2788 7.78166 15.6961 7.06723 15.1192L8.30759 13.8353L9.42336 16.8647ZM11.7229 13.8353L12.9273 15.0819C12.2293 15.6501 11.4664 16.2226 10.6318 16.7976L11.7229 13.8353ZM12.3841 11.0272L14.918 10.128L14.9423 12.9157L11.9825 12.9575L12.3841 11.0272ZM15.5816 10.2715L16.8572 11.1228C16.4863 11.6076 16.0694 12.1013 15.6015 12.6027L15.5816 10.2715ZM16.0642 9.82935L18.1431 9.15622C17.887 9.62847 17.5851 10.1137 17.2341 10.61L16.0642 9.82935ZM17.9215 6.36855L19.0982 6.77951C19.0015 7.16092 18.8717 7.55667 18.7072 7.9649L17.9215 6.36855ZM17.7858 5.65671L19.1449 3.68879C19.3436 4.3945 19.3878 5.22761 19.2299 6.16072L17.7858 5.65671ZM18.7204 2.6866L16.668 2.49821L17.2626 1.23908C17.8693 1.58803 18.3645 2.07808 18.7204 2.6866ZM16.6707 0.957659L16.0591 2.25218L14.1356 0.65943C14.3577 0.636389 14.5781 0.623057 14.7949 0.623057C15.4787 0.623202 16.109 0.740144 16.6707 0.957659ZM5.89854 0.656674L3.97164 2.25217L3.36209 0.96158C3.93083 0.741312 4.56932 0.623208 5.2619 0.623208C5.4715 0.623208 5.68403 0.635372 5.89854 0.656674ZM2.76965 1.24211L3.36319 2.49835L1.29984 2.68776C1.66021 2.08013 2.1595 1.59094 2.76965 1.24211ZM5.26561 13.5415L7.66344 13.5751L6.5677 14.7093C6.10122 14.3171 5.66999 13.9277 5.26561 13.5415ZM13.425 14.6699L12.3673 13.5751L14.6729 13.5426C14.2847 13.9157 13.8708 14.2917 13.425 14.6699Z"
                fill="#372C28"
                fill-opacity="0.5"
                stroke="#372C28"
                stroke-opacity="0.5"
                stroke-width="0.4"
                mask="url(#path-1-inside-1_413_227)" />
            </svg>
            <span>
              Wishlist</span>
          </a>



        </div>


        <h4 class="mt-4">Account settings</h4>
        <a
          href="#recover"
          id="forgotPasswordAccount"
          class="text-center mb-4">Reset your password</a>

        <div id="forgot_password_account" class="d-none">
          {% form 'recover_customer_password' %}
            {% include 'form-error', form: form %}


            <label for="resetPassword" class="form-label">Email Address</label>
            <input
              class="form-control"
              type="email"
              name="email"
              id="resetPassword">


            <input
              type="submit"
              value="Reset Password"
              class="button btn-secondary mt-2">
          {% endform %}
        </div>
      </div>
      <a class="nav-link logout" href="{{routes.account_logout_url}}">
        <svg
          width="28"
          height="33"
          viewBox="0 0 28 33"
          fill="none"
          xmlns="http://www.w3.org/2000/svg">
          <path d="M15.1536 30.0871H4.39239C3.18464 30.0871 2.19643 29.0989 2.19643 27.8911V4.39239C2.19643 3.18464 3.18464 2.19643 4.39239 2.19643H15.1536C15.7575 2.19643 16.2518 1.70214 16.2518 1.09822C16.2518 0.494322 15.7575 0 15.1536 0H4.39239C1.97641 0 0 1.9764 0 4.39239V27.8911C0 30.3071 1.97641 32.2835 4.39239 32.2835H15.1536C15.7575 32.2835 16.2518 31.7892 16.2518 31.1853C16.2518 30.5814 15.7575 30.0875 15.1536 30.0875V30.0871Z" fill="#372C28" />
          <path d="M27.9457 15.9778C27.9457 15.923 27.9457 15.923 27.8909 15.8679C27.8909 15.8131 27.8909 15.7579 27.8361 15.7579C27.7813 15.7579 27.8361 15.7031 27.7813 15.6479C27.7813 15.5931 27.7813 15.5931 27.7265 15.5931V15.4832L20.6983 7.85216C20.2592 7.41304 19.5453 7.41304 19.1062 7.79736C18.6671 8.23649 18.6671 8.89558 19.0514 9.33467L24.3768 15.0444H9.16804C8.56415 15.0444 8.06982 15.5387 8.06982 16.1427C8.06982 16.7466 8.56412 17.2409 9.16804 17.2409H24.3768L19.051 22.951C18.6667 23.3901 18.6667 24.0492 19.1058 24.4883C19.3254 24.7079 19.6001 24.8179 19.8745 24.8179C20.204 24.8179 20.4784 24.6531 20.6979 24.4335L27.6706 16.9118V16.8018C27.7254 16.8018 27.7254 16.8018 27.7254 16.747C27.8354 16.6922 27.8354 16.6922 27.8354 16.637C27.8902 16.637 27.8902 16.5822 27.8902 16.5271C27.945 16.4723 27.9449 16.4723 27.9449 16.4171C27.9449 16.3623 27.9997 16.2523 27.9997 16.1975C28.0005 16.1427 27.9457 16.0328 27.9457 15.978L27.9457 15.9778Z" fill="#372C28" />
        </svg>
        <span>Logout</span>
      </a>

    </div>

    <div class="col-12 col-md-10 order-details">
      <h1>Welcome back to your Account!</h1>
      <h4 class="mb-5">{{ customer.first_name }}
      </h4>
      {% comment %}

      {% endcomment %}
      <div>
        {% render 'your-orders' %}
      </div>


      <div>
        {% render 'your-addresses' %}
      </div>
    </div>
  </div>
</section>

{% comment %}

{% if customer.default_address %}
<h2>Address</h2>
<p>{{ customer.default_address.address1 }}</p>
{% if customer.default_address.address2 != "" %}
<p>{{ customer.default_address.address2 }}</p>
{% endif %}
<p>{{ customer.default_address.city }},
{% if address.province_code %}
{{ customer.default_address.province_code }},
{% endif %}
{{ customer.default_address.country }}</p>
<p>{{ customer.default_address.zip }}</p>
<p>{{ customer.default_address.phone }}</p>
{% endif %}

<div id="customer_orders">
<h2>Orders</h2>
{% paginate customer.orders by 10 %}
{% if customer.orders.size != 0 %}
{% for order in customer.orders %}
<!-- order details here -->
{% endfor %}
{% else %}
<p>You haven't placed any orders yet.</p>
{% endif %}
{{ paginate | default_pagination }}
{% endpaginate %}
</div>
{% endcomment %}{% comment %}
<table class="table tale-bordered">
<thead>
<tr>
<th>Order #</th>
<th>Fulfillment Status</th>
<th>Payment Status</th>
<th>Order Date</th>
<th>Total</th>
</tr>
</thead>
<tbody>
<tr>
<td>
<a href="{{ order.customer_url }}">
{{ order.name }}</a>
</td>
<td>
<span class="badge bg-primary">{{ order.fulfillment_status_label }}</span>
</td>
<td>
<span class="badge bg-success">{{ order.financial_status_label }}</span>
</td>
<td>{{ order.created_at | time_tag: format: 'date' }}</td>
<td>{{ order.total_price | money }}</td>
</tr>
{% endcomment %}