{% comment %}
https://www.youtube.com/watch?v=40OSeBrKALs&ab_channel=CodingwithJan-ShopifyDeveloper
{% endcomment %}

{%- capture flickity_options -%}
  {
  "prevNextButtons": true,
              "contain": true,
              "cellAlign": "left",
              "groupCells": true,
              "arrowShape": {"x0": 20, "x1": 60, "y1": 40, "x2": 60, "y2": 35, "x3": 25},
              "wrapAround": true
            }{%- endcapture -%}

<div class="featured-collection-slider categories-slider mt-5 page-width ">
  {% if section.settings.title != blank %}
    <div class="section-header">
      <h2>{{ section.settings.title | escape }}</h2>
    </div>
  {% endif %}

  {% comment %}

  {%- assign collection = collections[section.settings.collection] -%}
  {%- assign product_limit = section.settings.product_count -%}
  {% endcomment %}

  <div class="products-carousel js-flickity" data-flickity='{{ flickity_options }}'>

    {% for article in blogs.eridonna-inspires.articles %}

      <article class="carousel-cell  categories-slide">
        <div>
          <a href="{{ article.url }}">
            <img class="categories-slider-img" src=" {{ article.image | img_url: 'master' }} ">
            <div class="backdrop-blur">
              <h4 class="blog-slider-title">{{ article.title }}</h4>
            </div>
          </a>
        </div>
      </article>

    {% endfor %}
  </div>
</div>

{% schema %}
  {
    "name": "Blog Slider",
    "settings": [
      {
        "type": "text",
        "id": "title",
        "label": "Heading",
        "default": "Eridonna Inspires"
      }, {
        "type": "blog",
        "id": "blog",
        "label": "Blog"
      }, {
        "type": "range",
        "id": "product_count",
        "min": 3,
        "max": 12,
        "label": "Number of products to display",
        "default": 3
      }
    ],
    "presets": [
      {
        "category": "Blog",
        "name": "Blog Slider",
        "settings": {}
      }
    ]
  }
{% endschema %}

{% comment %}
schema creates customizable settings
{% endcomment %}