<footer class="footer-section  divider py-3">
  <div class="shipping-info divider py-2 mt-5">
    <div class="container-fluid flex py-4 justify-content-center">

      <section>
        <svg
          class="mb-2"
          width="71"
          height="44"
          viewBox="0 0 71 44"
          fill="none"
          xmlns="http://www.w3.org/2000/svg">
          <path d="M66.3115 18.6567H55.6978C59.3095 17.3459 61.9023 13.8907 61.9023 9.83245C61.9023 4.6522 57.6882 0.4375 52.5085 0.4375C47.4753 0.4375 43.3668 4.41775 43.1353 9.39475H11.4733V10.2696H43.1353C43.3592 15.1006 47.2392 18.9801 52.0708 19.2039V37.9328L26.0293 37.9334C26.0287 37.9229 26.0252 37.9153 26.0241 37.9047C25.9971 37.6065 25.942 37.3164 25.8664 37.0352C25.8571 36.9983 25.8483 36.9608 25.8377 36.9239C25.758 36.6508 25.6555 36.3895 25.5342 36.1364C25.5161 36.0971 25.4973 36.0584 25.478 36.0198C25.352 35.7737 25.2078 35.5393 25.0455 35.3178C25.0192 35.2809 24.9922 35.2463 24.9653 35.21C24.7983 34.9932 24.6155 34.791 24.4168 34.603C24.3852 34.5725 24.3518 34.5444 24.3196 34.5139C24.1151 34.3299 23.8971 34.1612 23.6639 34.0106C23.6305 33.9889 23.5959 33.9696 23.5614 33.9485C23.3217 33.8008 23.0698 33.6701 22.8061 33.5623C22.7762 33.55 22.7446 33.5412 22.7153 33.5289C22.4416 33.4229 22.1569 33.3362 21.8627 33.2787C21.8434 33.2746 21.8223 33.2729 21.8024 33.2694C21.4936 33.2125 21.1766 33.1785 20.852 33.1785C20.5274 33.1785 20.2104 33.2125 19.9016 33.2694C19.8817 33.2729 19.8612 33.2746 19.8413 33.2787C19.5471 33.3367 19.2629 33.4229 18.9887 33.5289C18.9583 33.5412 18.9272 33.55 18.8979 33.5623C18.6336 33.6701 18.3823 33.8014 18.142 33.9485C18.108 33.9696 18.0741 33.9889 18.0407 34.01C17.808 34.1612 17.5901 34.3305 17.3844 34.5151C17.3522 34.5438 17.3205 34.5719 17.2889 34.6024C17.0897 34.7905 16.9057 34.9944 16.7387 35.2112C16.7118 35.2463 16.686 35.2809 16.6602 35.316C16.4973 35.5393 16.352 35.7731 16.2254 36.0203C16.2073 36.0578 16.1897 36.0953 16.1709 36.134C16.0491 36.3871 15.9459 36.6502 15.8663 36.9239C15.8557 36.9596 15.8481 36.9965 15.8381 37.0334C15.7631 37.3153 15.7075 37.6047 15.6805 37.9041C15.6799 37.9147 15.6764 37.9223 15.6752 37.9328H11.4712V38.8076H15.68C15.9033 41.4667 18.1363 43.5643 20.852 43.5643C23.5678 43.5643 25.8002 41.4677 26.0236 38.8076H54.5371C54.7603 41.4667 56.9933 43.5643 59.7086 43.5643C62.424 43.5643 64.6568 41.4677 64.8802 38.8076H70.7173L70.7179 28.7312L66.3115 18.6567ZM20.854 42.6882C18.4722 42.6882 16.5351 40.7511 16.5351 38.3692C16.5351 35.9874 18.4722 34.0503 20.854 34.0503C23.2359 34.0503 25.173 35.9874 25.173 38.3692C25.173 40.7511 23.2359 42.6882 20.854 42.6882ZM52.5085 18.3507C47.8105 18.3507 43.9884 14.5287 43.9884 9.8317C43.9884 5.1337 47.8104 1.31155 52.5085 1.31155C57.2053 1.31155 61.0275 5.13355 61.0275 9.8317C61.0281 14.5285 57.2059 18.3507 52.5085 18.3507ZM59.7109 42.6882C57.3291 42.6882 55.392 40.7511 55.392 38.3692C55.392 35.9874 57.3291 34.0503 59.7109 34.0503C62.0928 34.0503 64.0299 35.9874 64.0299 38.3692C64.0299 40.7511 62.0928 42.6882 59.7109 42.6882ZM69.8442 37.9321H64.8865C64.8859 37.921 64.8813 37.911 64.8807 37.8999C64.8543 37.604 64.7992 37.3169 64.7248 37.038C64.7137 36.9987 64.7055 36.9594 64.6943 36.9196C64.6158 36.6483 64.5133 36.3887 64.3926 36.1374C64.3744 36.0964 64.3551 36.0554 64.3346 36.0149C64.2086 35.7706 64.065 35.538 63.9039 35.3177C63.877 35.2802 63.8488 35.2432 63.8207 35.2063C63.6543 34.9901 63.4727 34.788 63.2746 34.6017C63.2424 34.5712 63.2084 34.5413 63.175 34.5108C62.9711 34.3268 62.7543 34.1593 62.5229 34.0093C62.4877 33.9876 62.4531 33.9665 62.418 33.9454C62.1789 33.7983 61.9281 33.6682 61.6656 33.5604C61.6352 33.5481 61.6041 33.5388 61.5731 33.527C61.2994 33.421 61.0164 33.3343 60.7223 33.2768C60.7024 33.2727 60.6813 33.271 60.6608 33.2675C60.3525 33.2106 60.0361 33.1766 59.7115 33.1766C59.3869 33.1766 59.0699 33.2106 58.7623 33.2675C58.7424 33.271 58.7213 33.2727 58.7008 33.2768C58.4067 33.3348 58.1242 33.421 57.8494 33.527C57.819 33.5393 57.7879 33.5481 57.7574 33.5604C57.4943 33.6682 57.2436 33.7983 57.0051 33.9454C56.9699 33.9665 56.9354 33.9876 56.9002 34.0093C56.6693 34.1587 56.452 34.3268 56.2481 34.5108C56.2147 34.5407 56.1807 34.5706 56.1484 34.6017C55.951 34.7892 55.7688 34.9901 55.6024 35.2063C55.5742 35.2432 55.5473 35.2796 55.5191 35.3177C55.3574 35.538 55.2127 35.7712 55.0885 36.0161C55.0686 36.0553 55.0498 36.0964 55.0305 36.1368C54.9098 36.3882 54.8072 36.6489 54.7287 36.9202C54.7176 36.9595 54.7094 36.9987 54.6982 37.0386C54.6238 37.3175 54.5694 37.6046 54.5424 37.9005C54.5418 37.9116 54.5371 37.9216 54.5365 37.9327H52.9474L52.948 19.5307H65.7432L69.846 28.8225V37.9315L69.8442 37.9321Z" fill="#372C28" />
          <path d="M0.281738 14.751H27.9672V15.6258H0.281738V14.751Z" fill="#372C28" />
          <path d="M0.281738 22.0166H34.8402V22.8914H0.281738V22.0166Z" fill="#372C28" />
          <path d="M0.281738 29.2812H27.9672V30.1561H0.281738V29.2812Z" fill="#372C28" />
          <path d="M52.9451 3.36523H52.0703V10.2693H55.9873V9.39448H52.9451V3.36523Z" fill="#372C28" />
        </svg>
        <p>Possibility of shipping items in stock within 24 hours since your purchase</p>
      </section>

      <section>
        <svg
          class="mb-2"
          width="58"
          height="58"
          viewBox="0 0 58 58"
          fill="none"
          xmlns="http://www.w3.org/2000/svg">
          <path
            d="M44.2639 17.7679L30.2959 11.5759C29.432 11.144 28.3518 11.144 27.4879 11.5759L13.5199 17.7679C13.0157 17.9839 12.5837 18.344 12.2242 18.7759L12.1523 18.8477C11.7204 19.4238 11.4321 20.1434 11.4321 20.8637V36.6317C11.4321 37.9998 12.2242 39.2237 13.5199 39.7998L27.4879 45.9918C27.9198 46.2078 28.424 46.2796 28.9277 46.2796C29.432 46.2796 29.8639 46.2078 30.3676 45.9918L44.3356 39.7998C45.5596 39.2238 46.4234 37.9998 46.4234 36.6317L46.4239 20.9357C46.4239 20.2155 46.1361 19.4958 45.7037 18.9197L45.6318 18.8479C45.2717 18.4154 44.8398 18.0553 44.2637 17.7676L44.2639 17.7679ZM28.1359 13.0876C28.3519 13.0158 28.6401 12.9435 28.8561 12.9435C29.1439 12.9435 29.3603 13.0153 29.5763 13.0876L43.4723 19.2796L37.2084 22.0876L22.5924 15.6079L28.1359 13.0876ZM28.0636 44.5516L14.1676 38.3596C13.5197 38.0719 13.0878 37.4235 13.0878 36.7038L13.0873 20.9358C13.0873 20.7916 13.0873 20.648 13.1591 20.5038L28.0631 27.1278L28.0636 44.5516ZM14.3116 19.2076L20.6477 16.3996L35.2637 22.8794L28.9276 25.6874L14.3116 19.2076ZM44.6956 36.7036C44.6956 37.4238 44.2637 38.0718 43.6158 38.3595L29.7198 44.5515V27.1995L37.4958 23.7436C37.4958 23.7436 37.5676 23.7436 37.5676 23.6718L44.6235 20.5037C44.6953 20.6478 44.6953 20.7915 44.6953 20.9356L44.6956 36.7036Z"
            fill="#372C28"
            fill-opacity="0.75" />
          <path
            d="M6.82403 11.3601L7.04 11.5761C7.04 11.5761 7.11181 11.5761 7.11181 11.6479C7.18363 11.6479 7.18363 11.7197 7.25596 11.7197H7.4001H7.54424H7.61606L15.5363 10.9995C15.9682 10.9277 16.3283 10.5676 16.2565 10.1357C16.1847 9.70374 15.8246 9.34364 15.3927 9.41546L9.56029 9.99203C11.2884 8.19202 13.2322 6.67977 15.3922 5.45589C25.256 -0.231848 37.7122 0.847895 46.4962 8.19202C55.568 15.8239 58.6643 28.784 54.0563 39.656C53.9121 40.0879 54.0563 40.5199 54.4882 40.7358C54.56 40.8076 54.7042 40.8076 54.776 40.8076C55.0638 40.8076 55.4239 40.5917 55.4962 40.3034C60.4643 28.7114 57.1521 15.0314 47.5042 6.89539C38.2877 -0.807837 25.0402 -1.95997 14.6002 4.01603C12.2242 5.38416 10.1363 7.04004 8.1922 9.05591L7.68795 2.93565C7.61614 2.50373 7.25603 2.14362 6.82411 2.21544C6.39219 2.28726 6.03208 2.64737 6.1039 3.07929L6.82411 10.9995C6.75229 11.1442 6.75222 11.2878 6.82403 11.3601Z"
            fill="#372C28"
            fill-opacity="0.75" />
          <path
            d="M10.4959 51.1045C15.7523 55.496 22.3761 57.8002 28.9999 57.8002C33.968 57.8002 39.0079 56.5045 43.4719 53.9125C45.8479 52.5444 48.008 50.8167 49.8799 48.8002L50.3841 54.9205C50.4559 55.3524 50.7442 55.6407 51.1762 55.6407H51.248C51.6799 55.5689 52.04 55.2088 51.9682 54.7768L51.248 46.8566C51.1762 46.4247 50.816 46.0646 50.3841 46.1364L42.4639 46.8566C42.0319 46.9284 41.6718 47.2885 41.7437 47.7204C41.8155 48.1524 42.1756 48.5125 42.6075 48.4406L48.4394 47.9364C46.7112 49.7364 44.7675 51.2487 42.6075 52.5444C32.7436 58.3045 20.2155 57.2241 11.4315 49.8805C2.28737 42.2487 -0.808369 29.2165 3.94376 18.2725C4.0879 17.8406 3.94376 17.4087 3.51184 17.1927C3.07991 17.0486 2.64799 17.1927 2.43204 17.6247C-2.4637 29.2161 0.848041 42.9687 10.4959 51.1047L10.4959 51.1045Z"
            fill="#372C28"
            fill-opacity="0.75" />
        </svg>
        <p>Easy return policy until 14 days since receiving the jewelry</p>
      </section>

      <section>
        <svg
          class="mb-2"
          width="50"
          height="50"
          viewBox="0 0 50 50"
          fill="none"
          xmlns="http://www.w3.org/2000/svg">
          <path d="M49.9992 18.9108C50.0056 18.5691 49.9733 18.2302 49.9276 17.8922C49.9207 15.1822 50.04 12.4721 49.9628 9.76202C49.9591 9.63699 49.9094 9.54413 49.8411 9.47367C49.2721 6.49361 46.2767 4.63397 43.6048 3.6223C41.7986 2.93807 39.9247 2.40784 38.0579 1.92156C36.0304 1.39291 33.9788 0.955088 31.9089 0.631715C27.8978 0.00450796 23.8438 -0.180403 19.7988 0.189002C19.2841 0.235839 18.7674 0.291637 18.2502 0.3511C18.1673 0.339696 18.0844 0.350693 18.0072 0.380424C12.2148 1.07402 6.3546 2.664 2.04842 6.83172C1.4516 7.40925 0.897658 8.02835 0.380917 8.67917C0.362316 8.70238 0.35706 8.72723 0.343716 8.75166C0.282659 8.80094 0.229281 8.86285 0.198962 8.95448C0.132244 9.1565 0.0901894 9.35647 0.065522 9.55481C0.027109 9.61753 -0.000791318 9.68922 1.71255e-05 9.78207C0.0246824 12.5418 0.132236 15.2995 0.162969 18.0588C0.161756 18.0767 0.153669 18.0902 0.154478 18.1097C0.156095 18.1676 0.164182 18.2238 0.167417 18.2816C0.167417 18.3016 0.168226 18.3219 0.16863 18.3419C0.16863 18.3516 0.173482 18.3578 0.173887 18.3671C0.285485 20.0687 0.95671 21.6307 2.23847 22.7825C2.57691 23.0867 2.94042 23.3531 3.31854 23.5966C3.33067 26.547 3.25546 29.4969 3.19561 32.4464C3.17014 33.7016 2.84464 40.3085 3.00072 41.6994C3.14466 42.9851 3.64242 44.1397 4.61771 45.0052C5.48989 45.7787 6.55901 46.2576 7.63296 46.6734C10.2811 47.6978 12.9348 48.5143 15.6803 49.2649C19.518 50.314 26.2005 50.2061 33.9267 49.1582C36.8235 48.7652 39.7988 48.204 42.5002 47.0285C43.5616 46.5667 44.5474 45.9671 45.4524 45.2426C46.2688 44.5885 47.2647 43.684 47.405 42.5948C47.6092 41.0085 47.5465 35.2214 47.5465 34.468C47.5461 31.6777 47.5518 28.8871 47.5513 26.0968C47.5513 25.2835 47.5505 24.4705 47.5497 23.6573C47.5497 23.599 47.5489 23.5469 47.5744 23.4601C48.7741 22.5067 49.6362 21.3195 49.9103 19.7657C49.9333 19.7119 49.9459 19.6492 49.9438 19.5771V19.5738C49.9738 19.3588 49.9952 19.1397 49.9992 18.9124L49.9992 18.9108ZM27.9321 1.03689C31.8289 1.35864 35.6786 2.14146 39.4366 3.21464C41.1111 3.69278 42.8165 4.17949 44.4069 4.90162C45.8307 5.54838 47.2277 6.42324 48.1355 7.73509C49.0825 9.10396 49.4561 10.9734 48.5027 12.4391C47.6006 13.8255 45.8768 14.5998 44.4268 15.2489C41.0428 16.7636 37.3499 17.493 33.6934 17.9512C32.7541 18.0689 31.8124 18.1732 30.8687 18.2632C30.6167 17.1701 30.2969 16.0965 29.9888 15.0156C29.5739 13.56 29.176 12.0999 28.7863 10.6378C28.0621 7.92289 27.3653 5.20026 26.5967 2.49754C26.4475 1.97378 26.2931 1.45167 26.1386 0.929105C26.7366 0.954357 27.3347 0.987346 27.9327 1.03662L27.9321 1.03689ZM30.9603 38.3632C30.9453 38.4243 30.9344 38.4858 30.9227 38.5473C30.9255 38.5395 30.9263 38.5522 30.9255 38.5774C30.75 38.7864 30.5721 38.9932 30.3808 39.1794C29.4585 40.0762 28.1189 41.0574 26.7854 41.0691C25.4325 41.0814 24.2177 40.4134 23.1163 39.6868C21.0352 38.3143 18.846 35.9513 19.6474 33.2315C19.9988 32.0393 20.9862 30.9759 22.2429 30.7915C23.8005 30.563 25.0701 31.5608 25.9427 32.7477C25.9407 32.7648 25.935 32.7803 25.9342 32.7978C25.9103 32.9037 25.8958 33.0095 25.8934 33.115C25.7979 33.381 25.6774 33.6388 25.7187 33.9337C25.7777 34.356 26.1808 34.6945 26.6099 34.5491C26.7425 34.5039 26.8452 34.42 26.9366 34.3222C27.0029 34.2888 27.0627 34.2404 27.1036 34.1593C27.1056 34.1548 27.106 34.1503 27.108 34.1459C27.1193 34.1369 27.1319 34.1308 27.1428 34.1214C27.2528 34.0225 27.3203 33.9003 27.3591 33.7695C27.3963 33.7044 27.4283 33.6376 27.4428 33.5667C27.5043 33.2637 27.3082 32.9611 27.0842 32.7061C27.0433 32.6507 26.9997 32.5958 26.9515 32.5432C27.3037 31.4591 28.2289 30.6192 29.3898 30.5166C30.6526 30.4046 31.742 31.1071 32.3226 32.2108C32.8951 33.2994 32.9364 34.6085 32.5361 35.7611C32.2013 36.7255 31.6687 37.6753 31.0109 38.4841C31.0125 38.3819 31.0129 38.2797 31.0145 38.1775C30.9967 38.2398 30.9757 38.3009 30.9608 38.3636L30.9603 38.3632ZM26.087 27.3905C25.6281 25.5292 25.0883 23.6863 24.5331 21.8524C24.2986 21.0773 24.0653 20.3002 23.7964 19.5366C23.7887 19.515 23.7741 19.5019 23.7644 19.4828C25.9038 19.4913 28.0441 19.3879 30.1746 19.2038C30.325 19.9744 30.4423 20.7519 30.5102 21.5326C30.6364 22.9825 30.5195 24.4345 30.4637 25.8852C30.448 26.288 30.4375 26.6916 30.4229 27.0945C28.9805 27.2382 27.5334 27.3356 26.0862 27.3906L26.087 27.3905ZM23.4426 24.6128C23.4769 23.7612 23.5145 22.9136 23.5942 22.0653C23.6039 21.9618 23.6108 21.8592 23.6189 21.7561C24.2088 23.6264 24.724 25.5288 25.1991 27.4234C24.58 27.438 23.9614 27.445 23.3427 27.4409C23.3759 26.4984 23.4042 25.5556 23.4426 24.6132L23.4426 24.6128ZM23.3112 28.3304C24.0099 28.3353 24.7086 28.3239 25.4069 28.3052C25.4575 28.5394 25.5048 28.7744 25.5432 29.011C25.6439 29.6354 25.7215 30.2626 25.7777 30.8922C25.7898 31.0274 25.81 31.1618 25.827 31.2967C25.1158 30.6059 24.2703 30.0993 23.2542 29.9408C23.2716 29.404 23.293 28.8672 23.3112 28.3304ZM29.6223 29.6293C28.4376 29.6455 27.3729 30.2463 26.6936 31.1635C26.656 30.858 26.6168 30.5526 26.5828 30.2483C26.508 29.5833 26.4 28.9271 26.271 28.2738C27.6471 28.218 29.0218 28.1239 30.3934 27.9875C30.374 28.5577 30.3614 29.1282 30.3457 29.6984C30.1115 29.6541 29.8718 29.6255 29.6223 29.6288L29.6223 29.6293ZM25.2109 0.895303C25.9836 3.48646 26.6779 6.09992 27.3673 8.71464C28.1303 11.6059 28.9689 14.4748 29.7489 17.3608C29.8366 17.685 29.9179 18.0116 29.9935 18.3395C27.7822 18.5272 25.563 18.6299 23.3456 18.6038C23.181 17.7444 23.0172 16.8863 22.7936 16.0376C22.5959 15.289 22.4006 14.54 22.2041 13.7914C21.1358 9.71618 20.0999 5.62551 18.8948 1.58844C18.8536 1.45037 18.8095 1.31312 18.7675 1.17546C20.9097 0.948196 23.0601 0.846383 25.2112 0.895251L25.2109 0.895303ZM1.02173 9.28037C2.98042 6.82122 5.50274 4.95386 8.35993 3.68268C11.1572 2.43798 14.1931 1.76726 17.2132 1.36042C17.4347 1.33069 17.6567 1.30585 17.8787 1.27897C19.0594 5.0043 19.9906 8.82138 20.9837 12.5999C21.3865 14.1329 21.8288 15.6622 22.1895 17.2058C22.2958 17.6612 22.3783 18.1214 22.4588 18.582C22.2631 18.5767 22.0678 18.5751 21.872 18.5673C18.0921 18.4252 14.3232 17.8693 10.7132 16.7126C8.97856 16.1571 7.28921 15.4642 5.67502 14.616C4.89786 14.2075 4.13732 13.7652 3.40133 13.2845C2.66339 12.8027 1.91208 12.257 1.42525 11.5035C0.994212 10.8364 0.800941 10.05 1.02172 9.28018L1.02173 9.28037ZM1.04477 18.2523C1.02537 16.2615 0.971587 14.2711 0.927111 12.2809C1.25706 12.7105 1.65373 13.0958 2.07187 13.4209C3.54373 14.565 5.25368 15.454 6.94717 16.2127C10.4465 17.7803 14.1851 18.7069 17.9828 19.1545C19.5253 19.3362 21.0748 19.436 22.6259 19.4726C22.6477 19.585 22.6647 19.6987 22.689 19.8107C22.86 20.6122 22.7783 21.4214 22.7019 22.2303C22.5386 23.956 22.5155 25.7007 22.4585 27.4341C17.4898 27.3233 12.5657 26.5434 7.87753 24.7106C6.38993 24.129 4.85057 23.5988 3.52632 22.6807C2.01523 21.6328 1.14633 20.0884 1.04644 18.2523H1.04477ZM18.2219 48.6816C15.2984 48.3134 12.4291 47.5893 9.68684 46.506C7.73747 45.7354 5.16297 45.1437 4.21841 43.0225C3.68022 41.8141 3.81527 40.396 3.87107 39.1102C3.90139 38.4122 4.01098 35.0773 4.02836 34.4119C4.10599 31.4563 4.17028 28.499 4.19414 25.5431C4.19819 25.0645 4.19697 24.5856 4.19657 24.107C4.86496 24.4561 5.56492 24.7497 6.26602 25.0251C8.38278 25.8567 10.5065 26.6179 12.7223 27.1409C15.2317 27.7331 17.7968 28.0825 20.3681 28.2401C21.0555 28.2821 21.7433 28.3085 22.4312 28.324C22.4138 28.849 22.4004 29.3744 22.3859 29.8998C21.1717 29.9934 20.0924 30.7102 19.4026 31.7312C18.5696 32.9632 18.4018 34.5968 18.8717 35.9992C19.3711 37.4894 20.4378 38.7361 21.6484 39.6973C21.8158 39.8301 21.9884 39.962 22.1643 40.0928C22.1235 43.0557 22.0964 46.0187 22.0915 48.9816C20.7993 48.9348 19.5081 48.844 18.2214 48.6823L18.2219 48.6816ZM22.9718 49.0078C22.9763 46.2351 22.9981 43.4623 23.0329 40.69C23.9172 41.2513 24.8791 41.7062 25.8867 41.8695C26.6756 41.9973 27.4484 41.9521 28.196 41.6552C28.8867 41.3811 29.5167 40.9877 30.1102 40.5425C30.0754 43.2534 30.05 45.9646 30.0447 48.6755C27.6934 48.9207 25.3316 49.0502 22.9722 49.0078L22.9718 49.0078ZM46.6692 32.3601C46.668 33.8918 46.6567 38.9755 46.6215 39.7498C46.5888 40.4694 46.5358 41.1879 46.4598 41.9043C46.3987 42.4798 46.3611 42.9685 46.017 43.445C45.4077 44.2889 44.4781 44.9324 43.6027 45.4675C41.2457 46.908 38.463 47.4115 35.7846 47.8749C34.1748 48.1535 32.5526 48.3905 30.9247 48.5807C30.9308 45.6479 30.955 42.7151 30.9951 39.7827C31.9307 38.8606 32.6428 37.7333 33.1676 36.5176C33.7515 35.1645 33.8538 33.6373 33.2962 32.2554C32.8886 31.2449 32.147 30.4214 31.2073 29.9795C31.2255 29.3311 31.2425 28.6824 31.2647 28.034C31.2663 27.9867 31.2688 27.9395 31.2704 27.8922C32.8235 27.7208 34.3726 27.5118 35.9139 27.2666C38.8956 26.7918 41.9391 26.2969 44.7376 25.1109C45.3987 24.8307 46.0562 24.4967 46.6713 24.1045C46.6737 26.8561 46.6709 29.6076 46.6688 32.3593L46.6692 32.3601ZM49.0651 19.4815C48.9494 20.2794 48.6437 21.039 48.1339 21.6995C47.3005 22.7788 46.0979 23.5196 44.8829 24.0882C42.4859 25.2086 39.8402 25.7055 37.2528 26.1531C35.2905 26.4928 33.3039 26.7815 31.3072 27.0027C31.3593 25.7421 31.4196 24.4812 31.4503 23.2207C31.4826 21.8837 31.3132 20.5388 31.0714 19.2262C31.0653 19.1924 31.0565 19.1594 31.0504 19.1256C34.8562 18.7635 38.6906 18.2316 42.3272 17.0074C44.0768 16.4185 45.8636 15.6939 47.4087 14.6647C48.069 14.2248 48.6529 13.6937 49.0969 13.0759C49.0706 15.2112 49.0079 17.3467 49.0654 19.4817L49.0651 19.4815Z" fill="#372C28" />
        </svg>
        <p>Double checked & carefully wrapped with love in an original brand’s packaging</p>
      </section>


    </div>
  </div>

  <div class="container-fluid flex py-4 justify-content-center">
    <section>
      {% for block in section.blocks %}
        {% assign item = block.settings %}
        <div class="col">
          <h5>{{ item.title }}</h5>
          {% assign footer_linklist = item.menu %}
          <ul class="list-unstyled text-small">
            {% for link in linklists[footer_linklist].links %}
              <li>
                <a href="{{link.url}}">{{ link.title | escape }}</a>
              </li>
            {% endfor %}
          </ul>
        </div>


      {% endfor %}
    </section>
    <section>
      <h5>Account</h5>
      <ul class="list-unstyled text-small">
        <li>
          <a href="">My Account</a>
        </li>
        <li>
          <a href="">Forgotten Password</a>
        </li>
      </ul>
      <h5>Social media</h5>

      <a href="">{% render 'instagram' %}</a>

      <a href="">{% render 'facebook' %}</a>

    </section>
    <section>
      <h5>Newsletter</h5>
      <p>Subscribe to our newsletter to get exciting news from the world of Eridonna</p>
    </section>
  </div>
</footer>

{{ 'bootstrap.bundle.min.js' | asset_url | script_tag }}
{{ 'application.js' | asset_url | script_tag }}

{% schema %}
  {
    "name": "Footer",
    "settings": [
      {
        "type": "range",
        "id": "col_num",
        "default": 3,
        "min": 2,
        "max": 4,
        "label": "Number of Columns"
      }
    ],
    "max_blocks": 4,
    "blocks": [
      {
        "type": "link_list",
        "name": "Navigation",
        "settings": [
          {
            "type": "text",
            "id": "title",
            "label": "title",
            "default": "Quick Links"
          }, {
            "type": "link_list",
            "id": "menu",
            "label": "Menu"
          }

        ]
      }, {
        "type": "text",
        "name": "Store details",
        "settings": [
          {
            "type": "image_picker",
            "id": "logo",
            "label": "Store Logo"
          }, {
            "type": "text",
            "id": "title",
            "label": "Heading",
            "default": "Store information"
          }, {
            "type": "richtext",
            "id": "description",
            "label": "Text"
          }
        ]
      }
    ]
  }
{% endschema %}