<nav class="navbar fixed-top navbar-expand-lg bg-white container-fluid py-3 pe-3">

  <button
    class="navbar-toggler"
    type="button"
    data-bs-toggle="collapse"
    data-bs-target="#navbarNav"
    aria-controls="navbarNav"
    aria-expanded="false"
    aria-label="Toggle navigation">
    <span class="navbar-toggler-icon">
      <span id="mobile" class="material-symbols-outlined">
        menu
      </span>
    </span>

  </button>

  <a href="/">
    <img src="{{section.settings.image | img_url: 'small' }}" alt="{{section.settings.image.alt}}">
  </a>
  <div class="flex align-items-center nav-icons-mobile  gap-3">
    <a
      class="nav-link"
      href="#swym-wishlist"
      class="swym-wishlist">
      {% render 'heart-icon' %}
    </a>

    <a class="nav-link" href="{{routes.account_url}}">
      {% render 'account-icon' %}
    </a>

    <div>
      <a class="nav-link" href="/cart">
        {% render 'cart-icon' %}
        <span id="numberOfCartItem1" class="badge bg-dark rounded-pill">0</span>
      </a>
    </div>
  </div>

  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav me-auto">
      <div class="search-mobile">
        {% render 'search-nav' %}

      </div>
      {% for link in linklists.main-menu.links %}
        {% assign child_list_handle = link.title | handleize %}

        {% if linklists[child_list_handle].links != blank %}

          <li class="nav-item">

            <a
              class="nav-link dropdown-toggle"
              role="button"
              data-bs-toggle="dropdown"
              href="{{ link.url }}">{{ link.title }}

            </a>


            <ul class="dropdown-menu">

              {% for childlink in linklists[child_list_handle].links %}
                <li class="nav-item">
                  <a class="dropdown-item px-0" href="{{ childlink.url }}">{{ childlink.title | escape }}
                  </a>
                </li>
              {% endfor %}

            </ul>
          </li>

        {% else %}
          <li class="nav-item">
            <a class="nav-link" href="{{ link.url }}">{{ link.title }}</a>
          </li>
        {% endif %}
      {% endfor %}

    </ul>
  </div>

  {% comment %}

  <ul class="navbar-nav">
  {% if shop.customer_accounts_enabled %}
  {% if customer %}
  <li class="nav-item">
  <a class="nav-link" href="{{routes.account_url}}">Account</a>
  </li>
  <li class="nav-item">
  <a class="nav-link" href="{{routes.account_logout_url}}">Logout</a>
  </li>

  {% else %}
  <li class="nav-item">
  <a class="nav-link" href="{{routes.account_login_url}}">Login</a>
  </li>
  <li class="nav-item">
  <a class="nav-link" href="{{routes.account_register_url}}">Register</a>
  </li>

  {% endif %}
  {% endif %}

  {% endcomment %}
  <div class="search-desktop">
  {% render 'search-nav' %}
  </div>

  <div class="flex align-items-center nav-icons-desktop ps-4 gap-2">
    <a
      class="nav-link"
      href="/pages/swym-wishlist"
      class="swym-wishlist">
      {% render 'heart-icon' %}
    </a>
    <a class="nav-link" href="{{routes.account_url}}">
      {% render 'account-icon' %}
    </a>

    <div>
      <a class="nav-link" href="/cart">
        {% render 'cart-icon' %}
        <span id="numberOfCartItem2" class="badge bg-dark rounded-pill">0</span>
      </a>
    </div>


  </div>



</nav>


{% schema %}
  {
    "name": "Nav",
    "class": "nav-section",
    "settings": [
      {
        "type": "image_picker",
        "id": "image",
        "label": "Navbar image"
      }
    ],

    "presets": [
      {
        "category": "Nav",
        "name": "Navbar"
      }
    ]
  }
{% endschema %}