<nav class="navbar fixed-top navbar-expand-lg bg-white container-fluid p-3">

  <button
    class="navbar-toggler"
    type="button"
    data-bs-toggle="collapse"
    data-bs-target="#navbarNav"
    aria-controls="navbarNav"
    aria-expanded="false"
    aria-label="Toggle navigation">
    <span class="navbar-toggler-icon">
      <span id="mobile" class="material-symbols-outlined">
        menu
      </span>
    </span>

  </button>

  <a href="/">
    <img src="{{section.settings.image | img_url: 'small' }}" alt="{{section.settings.image.alt}}">
  </a>
  <div class="flex align-items-center nav-icons-mobile">
    <a
      class="nav-link"
      href="#swym-wishlist"
      class="swym-wishlist">
      <span class="material-symbols-outlined nav-icons">

        favorite

      </span>
    </a>
    
    <a class="nav-link" href="{{routes.account_url}}">
      <span class="material-symbols-outlined nav-icons">
        person
      </span>
    </a>

    <div>
      <a class="nav-link" href="/cart">
        <span class="material-symbols-outlined nav-icons">shopping_bag</span>
        <span id="numberOfCartItem1" class="badge bg-secondary rounded-pill">0</span>
      </a>
    </div>
  </div>

  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav me-auto">
      {% for link in linklists.main-menu.links %}
        {% assign child_list_handle = link.title | handleize %}

        {% if linklists[child_list_handle].links != blank %}

          <li class="nav-item">

            <a
              class="nav-link dropdown-toggle"
              role="button"
              data-bs-toggle="dropdown"
              href="{{ link.url }}">{{ link.title }}

            </a>


            <ul class="dropdown-menu bg-white">

              {% for childlink in linklists[child_list_handle].links %}
                <li class="nav-item px-3">
                  <a class="dropdown-item" href="{{ childlink.url }}">{{ childlink.title | escape }}
                  </a>
                </li>
              {% endfor %}

            </ul>
          </li>

        {% else %}
          <li class="nav-item px-2">
            <a class="nav-link" href="{{ link.url }}">{{ link.title }}</a>
          </li>
        {% endif %}
      {% endfor %}


    </div>

    {% comment %}

    <ul class="navbar-nav">
    {% if shop.customer_accounts_enabled %}
    {% if customer %}
    <li class="nav-item">
    <a class="nav-link" href="{{routes.account_url}}">Account</a>
    </li>
    <li class="nav-item">
    <a class="nav-link" href="{{routes.account_logout_url}}">Logout</a>
    </li>

    {% else %}
    <li class="nav-item">
    <a class="nav-link" href="{{routes.account_login_url}}">Login</a>
    </li>
    <li class="nav-item">
    <a class="nav-link" href="{{routes.account_register_url}}">Register</a>
    </li>

    {% endif %}
    {% endif %}

    {% endcomment %}</ul>



  <form
    class="search-nav"
    action="/search"
    method="GET"
    role="search">

    <div class="input-group flex-nowrap">
      <input
        class="form-control"
        type="text"
        name="q"
        value="{{ search.terms | escape }}"
        placeholder="Search"
        aria-label="Search"
        aria-describedby="addon-wrapping">

      <button
        type="submit"
        class="input-group-text"
        id="addon-wrapping">
        <span class="material-symbols-outlined">
          search
        </span>
      </button>

    </div>



  </form>
  <div class="flex align-items-center nav-icons-desktop ps-4">
    <a
    class="nav-link"
    href="#swym-wishlist"
    class="swym-wishlist">
    <span class="material-symbols-outlined nav-icons">

      favorite

    </span>
  </a>
  <a class="nav-link" href="{{routes.account_url}}">
    <span class="material-symbols-outlined nav-icons">
      person
    </span>
  </a>

  <div>
    <a class="nav-link" href="/cart">
      <span class="material-symbols-outlined nav-icons">shopping_bag</span>
      <span id="numberOfCartItem2" class="badge bg-secondary rounded-pill">0</span>
    </a>
  </div>


  </div>



</nav>


{% schema %}
  {
    "name": "Nav",
    "class": "nav-section",
    "settings": [
      {
        "type": "image_picker",
        "id": "image",
        "label": "Navbar image"
      }
    ],

    "presets": [
      {
        "category": "Nav",
        "name": "Navbar"
      }
    ]
  }
{% endschema %}