<section class="inner-hero-section">

  {% comment %}
  {% if section.settings.image != blank %}
  <img src="{{section.settings.image | img_url: 'master' }}" alt="{{section.settings.image.alt}}">
  {% else %}
  {% capture current %}{% cycle 1,2 %}{% endcapture %}
  {{ 'lifestyle-' | append: current | placeholder_svg_tag: 'placeholder-svg' }}
  {% endif %}

  {% endcomment %}{%- capture flickity_options -%}
    {
    "prevNextButtons": true,
                                              "contain": true,
                                              "cellAlign": "left",
                                              "groupCells": true,
                                              "arrowShape": {"x0": 20, "x1": 60, "y1": 40, "x2": 60, "y2": 35, "x3": 25},
                                              "wrapAround": true,
                                              "autoPlay": true
                                            }{%- endcapture -%}


  <div class="featured-collection-slider1">

    <div
      class="slideshow-container products-carousel js-flickity"
      data-width="less"
      data-flickity='{{ flickity_options }}'>



      {% assign text_blocks = section.blocks | where: 'type', 'text' %}
      
      {% for block in text_blocks %}
        <div class="carousel-cell1" data-slide="1">
          <img
            class="slide-img1"
            src="{{block.settings.image | img_url: 'master'}}"
            alt="{{ block.settings.image.alt }}">
          <div class="slide-content-container backdrop-blur-hero">
            <h2 class="display-6">{{ block.settings.title }}</h2>
            <h5>{{ block.settings.sub_title }}</h5>
            <p>{{ block.settings.body }}</p>
            <a href="{{ block.settings.button_url }}" class="button btn-main">{{ block.settings.button_label }}</a>
          </div>

          </div>

        {% endfor %}




    </div>
  </div>
</section>

{% schema %}
  {
    "name": "Hero slideshow",
    "tag": "section",
    "class": "slideshow",
    "settings": [
      {
        "type": "text",
        "id": "title",
        "label": "Slideshow"
      }

    ],
    "blocks": [
      {
        "name": "Hero image",
        "type": "text",
        "settings": [
          {
            "type": "image_picker",
            "id": "image",
            "label": "Image"
            }, 
            {
              "type": "text",
              "id": "title",
              "label": "title"
            }, 
            {
            "type": "text",
            "id": "sub_title",
            "label": "Subtitle"
          }, 
          {
            "type": "richtext",
            "id": "body",
            "label": "body"
          },
          {
              "type": "text",
              "id": "button_label",
              "label": "Button Label"
          },
          {
              "type": "text",
              "id": "button_url",
              "label": "Collection url"
          }

        ]
      }
    ],
    "presets": [
      {
        "name": "Hero slideshow",
        "settings": {
          "title": "Hero slideshow"
        },
        "blocks": [
          {
            "type": "text"
          }
        ]
      }
    ]
  }
{% endschema %}