{% assign current_product = product.selected_or_first_available_variant %}
{% assign product_image = current_product.featured_image | default: product.featured_image %}

<div id="productPage" class="container-fluid">
  {% include 'breadcrumbs' %}

  <div class="row product-page-container">

    <div class="col-md-6 col-12  product-image-wrapper">
      <!-- card left -->

      <div class="slider-container">


        <div class="slider">
          <div class="zoom">
            <img
              class="grid-item background-effect"
              src="{{ product_image | img_url: 'large'}}"
              alt="{{ product_image.alt }}"
              class="small-image"
              data-toggle="modal"
              data-target="#myModal">
          </div>
          {% for image in product.images %}
            {% if image.src != product_image %}
              <div class="zoom">
                <img
                  class="grid-item background-effect gallery-image"
                  src="{{ image.src | img_url: 'large' }}"
                  alt="{{ image.alt }}"
                  data-id="{{ image.alt }}">
              </div>
            {% endif %}
          {% endfor %}

        </div>

        <button class="prev-button">&#60;</button>
        <button class="next-button">&#62;</button>

      </div>
    </div>



    <section class="col-md-6 col-12 flex flex-column gap-3 content-wrapper">
      <div class="flex gap-5 justify-content-between">
        <h3>{{ product.title }}</h3>
        <!-- Swym button on product pages -->
        <div class="swym-wishlist-button-bar"></div>
      </div>
      <!-- Swym button on product pages -->
      <div class="flex justify-content-between">
        {% comment %}

        <span class="shopify-product-reviews-badge" data-id="{{ product.id }}"></span>
        {% endcomment %}
        <!-- Start of Judge.me code -->
          <div
          style='{{ jm_style }}'
          class='jdgm-widget jdgm-preview-badge'
          data-id='{{ product.id }}'
          data-auto-install='false'> {{ product.metafields.judgeme.badge }}
        </div>
        <!-- End of Judge.me code -->
        <p>{{ current_product.price | money_with_currency }}</p>
      </div>
      {% form 'product', product, class: "product-form", id: "AddToCartForm" %}
        <div class="mb-3">

          {% if product.available %}
            <div class="flex align-items-center gap-2 mb-4">
              <div class="dot green-dot"></div>
              <p class="mb-0">In Stock</p>
              {% render 'shipping24h' %}
            </div>

          {% else %}
            <div class="flex align-items-center gap-2 mb-4">
              <div class="dot red-dot"></div>
              <p class="mb-0">Available, longer delivery</p>
              {% render 'shipping7-14' %}
            </div>
          {% endif %}



          {% render 'brand-images' %}



          <div class="category-sku">
            <p>
              SKU: {{ product.first_available_variant.sku }}<br>

              Category: {{ product.type }}</p>
          </div>

          {% comment %}

          {% for variant in product.variants %}
          {% if variant.available %}
          <input type="checkbox" id="{{ variant.id }}" name="{{ variant.id }}" value="{{ variant.id }}">
          <label for="{{ variant.id }}">{{ variant.title }}</label><br>
          {% else %}
          <input type="checkbox" id="{{ variant.id }}" name="{{ variant.id }}" value="{{ variant.id }}" disabled="disabled">
          <label for="{{ variant.id }}">{{ variant.title }}</label><br>
          {% endif %}
          {% endfor %}
          {% endcomment %}

          <div class="flex gap-4">
            <select
              name="id"
              id="productSelect"
              class="form-select">
              {% for variant in product.variants %}
                {% if variant.available %}
                  <option value="{{ variant.id }}">
                    {{ variant.title }}
                  </option>
                {% else %}
                  <option value="{{ variant.id }}" disabled="disabled">
                    {{ variant.title }}
                  </option>
                {% endif %}
              {% endfor %}
            </select>

            {% for tag in product.tags %}
              {% if tag contains 'Rings' %}
                <button
                  type="button"
                  class="sizeguide-btn"
                  data-bs-toggle="modal"
                  data-bs-target="#sizeGuide">
                  Size Guide
                </button>
                {% render 'size-guide' %}
                {% break %}
              {% endif %}
            {% endfor %}

          </div>

        </div>

        {% comment %}
        <div class="mb-3">
        <input
        type="number"
        class="form-control"
        name="quantity"
        id="Quantity"
        value="1"
        min="1">
        </div>
        {% endcomment %}

        {% comment %}

        {% endcomment %}
        <div class="flex">
          <div class="input-group align-self-center product-buttons">
            <span class="input-group-btn">
              <button class="btn btn-default btn-subtract" type="button">-</button>
            </span>
            <input
              type="number"
              class="form-control item-quantity"
              name="quantity"
              id="Quantity"
              value="1"
              min="1">
            <span class="input-group-btn">
              <button class="btn btn-default btn-add" type="button">+</button>
            </span>
          </div>


          <button
            type="submit"
            name="add"
            id="AddToCart"
            class="button btn-main flex gap-2">Add To Cart
            <span class="material-symbols-outlined nav-icons">shopping_bag</span>
          </button>
        </div>
        {% if section.settings.dynamic_buttons_checkbox == true %}
          {{ form | payment_button }}
        {% endif %}

      {% endform %}
      {% render 'product-details' %}
    </section>
    {% comment %}

    {% endcomment %}</div>

</div>
{% if product.has_only_default_variant %}

  <style>
    #productSelect {
      display: none;
    }
  </style>
{% endif %}

{% render 'product-recommendations' %}