<div class="position-relative  article-template__background">
  <div class="pt-4">
    {% include 'breadcrumbs' %}
  </div>
</div>
<section class="container articlePage">





  <h1>{{ article.title }}</h1>
  

  {% capture date %}
    <time datetime="{{ article.published_at | date: '%Y-%m-%d' }}">{{ article.published_at | date: format: 'abbreviated_date' }}</time>
  {% endcapture %}
  <p>
    {{ date }}</p>

  <img src="{{ article.image | img_url: 'master'}}" class="article-img" alt="">

  <div>{{ article.content }}</div>
</section>

{% section 'collection-slider' %}