{% if cart.item_count > 0 %}

  <div class="container">
    <div class="row">
    <h2>Shopping Cart</h2>
    </div>
    <div class="my-5">
      <form
        action="/cart"
        method="post"
        class="row"
        novalidate>

        <div class="col-12 col-md-9">
          <div class="card shadow p-3 cart-table">
            <table class="table table-borderless ">
              <thead>
                <th colspan="2" class="table-product">Product</th>
                <th>Price</th>
                <th class="table-quantity">Quantity</th>
                <th class="table-price">Total Price</th>
                <th class="table-delete"> </th>
              </thead>
              <tbody>
                {% for item in cart.items %}
                  <tr>
                    <td data-label="Product">
                      <a href="{{ item.url | within: collections.all }}">
                        <div class="background-effect">
                          <img src="{{ item | img_url: 'small' }}" alt="{{ item.title | escape }}">
                        </div>
                      </a>
                    </td>
                    <td >
                      <a href="{{ item.url }}">{{ item.product.title }}</a>
                      {% if item.variant.size > 1 %}
                        <p class="small">{{ item.variant.title }}</p>
                      {% endif %}
                    </td>
                    <td data-label="Price">{{ item.price | money }}</td>
                    <td data-label="Quantity">
                      <input
                        class="table-quantity"
                        type="number"
                        name="updates[]"
                        id="updates_{{ item.key }}"
                        value="{{ item.quantity }}"
                        min="0">
                    </td>
                    <td data-label="Total Price">
                      {% if item.original_line_price != item.line_price %}
                        {{ item.original_line_price | money }}{% endif %}
                      {{ item.line_price | money }}
                      {% for discount in item.discounts %}
                        {{ discount.title }}{% endfor %}
                    </td>
                    <td data-label=" ">
                      <a href="/cart/change?line={{ forloop.index }}&amp;quantity=0">&#10005;</a>
                    </td>
                  </tr>
                {% endfor %}
              </tbody>
            </table>

          </div>
        </div>
        <div class="col-12 col-md-3">
          <div class="card shadow p-3">
            <p class="h3">The total amount is</p>
            <p>{{ cart.total_price | money }}</p>
            <div class="d-grid gap-2">

              <button
                type="submit"
                class="button btn-primary"
                name="update">Update</button>
              <button
                type="submit"
                class="button btn-main"
                name="checkout">Checkout</button>
            </div>

          </div>
        </div>
      </form>
    </div>
  </div>
{% else %}
  <div class="container">
    <div class="row">
      <h2 class="text-center h2">Cart</h2>
      <p>Cart is empty</p>
    </div>
  </div>
{% endif %}

{% if item.variant.size > 1 %}

  <style>
    .variant {
      display: none;
    }
  </style>
{% endif %}