{% include 'breadcrumbs' %}

<div class="collection-page__background py-4 px-1 ">

  <div class="collection-page__background_text p-4">
    <h1 class="text-center mb-2 text-white">{{ collection.title }}</h1>
    <p class="text-center">{{ collection.description }}</p>
  </div>
</div>

<section class="collection">

  {% if collection.handle == 'gift-ideas' %}

    {% section 'categories-slider' %}
  {% endif %}
  <div class="container collection-page">
    {% paginate collection.products by 8 %}

      <div class="sticky-top justify-content-between  align-items-baseline flex mt-5 py-4 bg-white">

        {% render 'filtering' %}
        {% render 'sorting' %}
      </div>
      <div class="row justify-content-left">


        {% for product in collection.products %}

          <div class="col-6 col-sm-3 g-2 g-sm-3 ">

            {% comment %}
            the card here is the same as in featured collection - it should be moved to snippets!
            {% endcomment %}
            <article>


              <!-- Swym Wishlist Plus EPI Button-->

              <!-- Swym Wishlist Plus EPI Button-->
                <a href="{{ product.url }}"> <div class="background-effect mb-2">
                  <img
                    class="main collection-page-img"
                    src="{{ product.featured_image.src | img_url: 'master' }}"
                    alt="{{ product.featured_image.alt }}">
                  {% if product.images.size > 1 %}
                    <img
                      class="secondary collection-page-img"
                      src="{{ product.images[1] | img_url: 'master' }}"
                      alt="{{ product.images[1].alt | escape }}">
                  {% endif %}
                  <button
                    data-with-epi="true"
                    class="swym-button swym-add-to-wishlist-view-product product_{{product.id}}"
                    data-swaction="addToWishlist"
                    data-product-id="{{product.id | json}}"
                    data-variant-id="{{product.variants[0].id}}"
                    data-product-url="{{ shop.url }}{{ product.url }}"></button>
                </div>
              



                <h3 class="px-2 product-title">{{ product.title }}</h3>
                </a>
                
                <div class="product-content p-2">


                <div class="collection-page__brand mb-2 ">
               <a href="https://eridonna.myshopify.com/collections/{{ product.metafields.custom.brand }}" class="product-vendor">
                    {{ product.vendor }} </a>   <span> | </span>
                
                  <a href="https://eridonna.myshopify.com/collections/{{ product.type }}"> {{ product.type }}</a>
                </div>
                <div class="flex justify-content-between collection-page__money align-items-end">
                  {% if product.available %}
                    <div class="flex align-items-baseline gap-2">
                      <div class="dot green-dot"></div>
                      <p>In Stock</p>
                    </div>

                  {% else %}
                    <div class="flex align-items-baseline gap-2">
                      <div class="dot red-dot"></div>
                      <p class="longer-delivery">Available, longer delivery</p>
                    </div>
                  {% endif %}
                  <p class="price">{{ product.price | money_without_trailing_zeros }}</p>
                </div>
              </div>

            </article>
          </div>

        {% else %}
          <p>no matches</p>
        {% endfor %}
      </div>

      {% render 'pagination', paginate: paginate %}
    {% endpaginate %}
  </div>
</section>

<style>
  .collection-page__background {
    background-image: url('{{ collection.featured_image | img_url: 'master' }}');
    background-size: cover;
    background-position-y: center;
  }
</style>

<script></script>