<div class="collection-page__background py-4 px-1 ">
  {% include 'breadcrumbs' %}
  <div class="collection-page__background_text p-4">
    <h1 class="text-center mb-2">{{ collection.title }}</h1>
    <p class="text-center">{{ collection.description }}</p>
  </div>
</div>



<div class="container collection-page">
  {% if collection.handle == 'gift-ideas' %}
  {% section 'categories-slider' %}
{% endif %}
  {% paginate collection.products by 8 %}
    
    <div class="sticky-top justify-content-between flex mt-5 py-4 bg-white">
      
        {% render 'filtering' %}
        {% render 'sorting' %}
    </div>
    <div class="row justify-content-left my-3 mx-1  ">
      

      {% for product in collection.products %}
        {% assign image = product.featured_media.preview_image %}
          <div class="col-6 col-sm-3 g-2 g-sm-3 ">

          {% comment %}
          the card here is the same as in featured collection - it should be moved to snippets!
          {% endcomment %}
          <article>
            <a href="{{ product.url }}">
              {% if image != blank %}
                <div class="background-effect">
                  <img
                    class="collection-page-img"
                    src="{{ image | img_url: 'master' }}"
                    alt="{{ product.title }}">
                </div>

              {% else %}
                {{ 'product-1' | placeholder_svg_tag: 'card-img-top' }}
              {% endif %}

              <div class="product-content p-2">
                <h3>{{ product.title }}</h3>
                <p class="collection-page__brand">
                  {{ product.metafields.custom.brand }} | {{ product.type }}</p>
                <div class="flex justify-content-between collection-page__money">
                  {% if product.available %}
                    <div class="flex align-items-baseline gap-2">
                      <div class="dot green-dot"></div>
                      <p>In Stock</p>
                    </div>

                  {% else %}
                    <div class="flex align-items-baseline gap-2">
                      <div class="dot red-dot"></div>
                      <p>Not In-Stock</p>
                    </div>
                  {% endif %}
                  <p>{{ product.price | money_without_trailing_zeros }}</p>
                </div>
              </div>
            </a>
          </article>
        </div>

      {% else %}
        <p>no matches</p>
      {% endfor %}
    </div>

    {% render 'pagination', paginate: paginate %}
  {% endpaginate %}
</div>

<style>
  .collection-page__background {
    background-image: url('{{ collection.featured_image | img_url: 'master' }}');
    background-size: cover;
  }
</style>
